
.dropdown{
    font-family: Arial, sans-serif;
    position: relative;
    margin: 2em;
    margin-left: 0;
    margin-right: auto;
    float: left;
    margin-top: 10px;
}

.dropdownbg{
   height: 80px;
   margin-top: 10px;
   border: 5px solid rgb(249, 246, 246);
   border-radius: 15px;
   background-color: white;
   border-style: ridge;
   border-color: rgb(236, 234, 234);
}

#dropdown1{
    margin-left: 13px;
}   

#dropdown2{
    margin-left: 13px;
}

#dropdown3{
    margin-left: 13px;
}
.dropdown *{
    box-sizing: border-box;
}

.select{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border: 2px solid white;
   border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-right: 10px;
    transition: border 0.3s;
}

.select-clicked{
    border: 2px solid rgb(206, 201, 201);
    box-shadow: 0 0 0.8em  rgb(224, 222, 222);
}

.select:hover{
    background: #f6f4f4;
    border: 2px solid #f6f4f4;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
    float: right;
    margin-left: 5px;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0.5em 1em rgb(212, 210, 210);
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    cursor: pointer;
    margin: 0.3em 0;
    border-radius: 0.5em;
}

.menu li:hover{
    background-color: #f2f2f2;
}

.active{
    background-color: white
}

.menu-open{
    display: block;
    opacity: 1;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    float: center;
}


.box {
    width: 100%;
    height: 300px;
    object-fit: cover;      
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    float: center;
}


.label {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #131212;
    text-align: left;
    color: #8f6437;
}