.navbar{
    margin: 0;
    padding: 15px;
    background-color: #8f6437;
    color: #FFE6CC;
    font-family: Inconsolata, monospace;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #FFE6CC;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.navbar a:hover {
    color: #fcfbfa;
}

.logo {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    max-height: 40px;
    width: auto;
    max-width: 100%;
}

.logo .p {
    margin: 6px 0 0;
    font-family: Inconsolata, monospace;
    color: #8f6437;
    font-size: 20px;
    text-align: center;
}

.search-icon{
    color: #8f6437;
}
.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background-color: #FFE6CC;
    transition: background-color 0.25s;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    background: #f1d1af;
    box-shadow: 0 4px 8px rgba(242, 240, 240, 0.2);
}

.search-input{
    font-size: 16px;
    font-family: Inconsolata, monospace;
    color : #8f6437;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.search-input::placeholder,
.search-icon{
    color: #8f6437;
}




